In [1]:
sc

In [3]:
from pyspark.sql.types import Row
from datetime import datetime

In [4]:
simple_data = sc.parallelize([1, "Alice", 50])
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [7]:
simple_data.count()

3

In [8]:
simple_data.first()

1

In [6]:
simple_data.take(2)

[1, 'Alice']

In [13]:
simple_data.collect()

[1, 'Alice', 50]

In [15]:
df = simple_data.toDF()

TypeError: Can not infer schema for type: <class 'int'>

In [27]:
records = sc.parallelize([[1, "Alice", 50],[2, "Bob", 100]])

In [28]:
records

ParallelCollectionRDD[10] at parallelize at PythonRDD.scala:195

In [29]:
records.count()

2

In [30]:
df = records.toDF()

In [31]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [32]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob|100|
+---+-----+---+

In [34]:
data = sc.parallelize([Row(id=1, name="Alice", score=50)])

In [35]:
data

ParallelCollectionRDD[22] at parallelize at PythonRDD.scala:195

In [36]:
data.collect()

[Row(id=1, name='Alice', score=50)]

In [38]:
data.count()

1

In [39]:
df = data.toDF()

In [40]:
df.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

In [ ]:
data = sc.parallelize([Row(id = 1,name="Alice", score=50)[2, "Bob", 100]])([[1, "Alice", 50],[2, "Bob", 100]])

In [43]:
complex_data = sc.parallelize([Row(
                                col_float=1.44,
                                col_integer=10,
                                col_string="John")])

In [44]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+---------+-----------+----------+
|col_float|col_integer|col_string|
+---------+-----------+----------+
|     1.44|         10|      John|
+---------+-----------+----------+

In [45]:
complex_data = sc.parallelize([Row(
                                col_float=1.44,
                                col_integer=10,
                                col_string="John",
                                col_boolean=True,
                                col_list=[1,2,3])])

In [46]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+-----------+---------+-----------+---------+----------+
|col_boolean|col_float|col_integer| col_list|col_string|
+-----------+---------+-----------+---------+----------+
|       true|     1.44|         10|[1, 2, 3]|      John|
+-----------+---------+-----------+---------+----------+

In [47]:
sqlContext = SQLContext(sc)
sqlContext

In [48]:
df = sqlContext.range(5)
df

DataFrame[id: bigint]

In [49]:
df.count()

5

In [50]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [52]:
data = [('Alice',50),
       ('Bob', 100),
       ('Charlee', 150)]

In [53]:
sqlContext.createDataFrame(data).show()

+-------+---+
|     _1| _2|
+-------+---+
|  Alice| 50|
|    Bob|100|
|Charlee|150|
+-------+---+

In [ ]:
complex_data = []